@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    /* justify-content: space-between; */
    /* background: blue; */
}
.case__aqua {
    background: var(--color-2);
    width: 304px;
    height: 96px;
    border-radius: 48px;
    position: relative;
    top: 20px;
    left: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.case__aqua h2{
    color: var(--color-1);
    font-family: "Roboto_Regular";
    font-size: 48px;
    font-weight: 100;
}
.gota{
    /* background: red; */
}
.navegacion {
    /* background: red; */
    width: 732px;
    height: 38px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 60px;
}
.navegacion nav{
    display: flex;
    justify-content: space-between;
}
.navegacion nav h3{
    font-family: "Roboto_Bold";
    font-size: 24px;
}
.navegacion hr{
    background: var(--color-2);
    height: 2px;
}
.div__logos {
    /* background: green; */
    display: flex;
    gap: 30px;
    align-items: flex-end;
    margin-left: 212px;

}
.div__logos img{
    width: 34px;
    height: 34px;
}
/********** main ************************/
main{
    background: red;
    padding: 20px;
}
.article__info {
    background: green;
    display: flex;
}
.section__title {
    background: violet;
    width: 707px;
    height: 592px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.section__title img{
    width: 707px;
    height: 391px;
}
.div__info {
    background: pink;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.div__info h2{
    font-family: "Roboto_Regular";
    font-size: 56.4px;
}
.div__info p{
    font-family: "Roboto_Regular";
    font-size: 26px;
}
.section__logos {
    background: yellow;
    width: 494.01px;
    height: 541px;
    padding: 20px;
}
.div__princ-logo {
    background: blue;
    display: flex;
    flex-direction: column;
}
.div__sec-logo{
    background: rebeccapurple;
    display: flex;
}
.div__shop {
    background: bisque;
}
.div__redes {
    
    background: yellowgreen;
    display: flex;
    flex-direction: column-reverse;
}
