@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    /* justify-content: space-between; */
    /* background: blue; */
}
.case__aqua {
    background: var(--color-2);
    width: 304px;
    height: 96px;
    border-radius: 48px;
    position: relative;
    top: 20px;
    left: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.case__aqua h2{
    color: var(--color-1);
    font-family: "Roboto_Regular";
    font-size: 48px;
    font-weight: 100;
}
.gota{
    /* background: red; */
}
.navegacion {
    /* background: red; */
    width: 732px;
    height: 38px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 60px;
}
.navegacion nav{
    display: flex;
    justify-content: space-between;
}
.navegacion nav h3{
    font-family: "Roboto_Bold";
    font-size: 24px;
}
.navegacion hr{
    background: var(--color-2);
    height: 2px;
}
.div__logos {
    /* background: green; */
    display: flex;
    gap: 30px;
    align-items: flex-end;
    margin-left: 212px;

}
.div__logos img{
    width: 34px;
    height: 34px;
}
/********** main ************************/
main{
    /* background: red; */
    padding: 20px;
}
.article__inicio {
    /* background: green; */
    display: flex;
    justify-content: space-around;
}
.section__title {
    /* background: violet; */
    width: 707px;
    height: 592px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.section__title img{
    width: 707px;
    height: 391px;
}
.div__info {
    /* background: pink; */
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.div__info h2{
    font-family: "Roboto_Regular";
    font-size: 56.4px;
}
.div__info p{
    font-family: "Roboto_Regular";
    font-size: 26px;
}
.section__logos {
    /* background: yellow; */
    width: 578px;
    height: 546px;
    /* padding-left: 20px; */
}
.div__princ-logo {
    /* background: blue; */
    display: flex;
    flex-direction: column;
}
.div__princ-logo img{
    width: 463.12px;
    height: 487.07px;
}
.more__info{
    /* background: green; */
    display: flex;
    justify-content: space-between;
}
.div__sec-logo{
    background: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    width: 249px;
    height: 59px;
    border-radius: 31.5px;
    gap: 7px;
}
.div__sec-logo img{
    width: 30px;
    height: 30px;
}
.div__shop {
    /* background: bisque; */
    display: flex;
    align-items: center;
    font-family: "Roboto_Bold";
    font-size: 40px;
    color: var(--color-1);
}
.div__redes {
    /* background: yellowgreen; */
    width: 82px;
    height: 218px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -160px;
    gap: 10px;
}
.div__redes img {
    width: 50px;
    height: 54.36px;
}
/*********** como jugar **************/
.article__como-jugar {
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.como__title {
    /* background: blanchedalmond; */
    width: 654px;
    height: 258px;
}
.como__info {
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 41px;
}
.como__info h2{
    font-family: "Roboto_Bold";
    font-size: 64px;
}
.como__info span{
    font-family: "Roboto_Regular";
    font-size: 36px;
}
.section__list {
    /* background: blue; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}
.div__info_princ {
    /* background: pink; */
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.div__circle {
    background: var(--color-2);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto_Bold";
    font-size: 64px;
    color: var(--color-1);
}
.div__info-list {
    /* background: palegreen; */
    width: 762px;
    height: 187px;
    display: flex;
    font-family: "Roboto_Regular";
    font-size: 28px;
}
.div__picture {
    /* background: blueviolet; */
    width: 162px;
    height: 162px;
}
